/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*.before,*.after{
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 0 auto;
    border:1px solid black;
    font-family: "微軟正黑體";
    background: #fafafa;
}
.profile{
    display:Flex;
    justify-content: center;
    padding-top:150px;
    background-repeat: no-repeat;
}
.selfie{
    margin-right:120px ;
}
.selfie h1{
    font-size:26px;
    margin-bottom:20px;
    text-align: center;
}
.selfie p{
    margin:20px;
    text-align: center;
    font-size:14px;
}

.detail{
    align-items: center;
    display:flex;
    margin-bottom:20px;

}
.location ul li a{
    text-decoration: none;
    display: block;
}
.location ul li a:hover{
    color:pink;
}
.location ul li a, .location ul li p{
    color:white;
}
.location ul li img{
    margin-right:10px;
}

.content{
    margin:30px 0px;
}
.subtitle{
     font-size:24px;
     text-align: center;
     color:#1736dc;
     font-weight: bolder;
     margin:50px 0px;

}
.skill{
   
    display:Flex;
    justify-content: center;
   
}
.web{
    width: 285px;
    border:1px solid rgb(172, 146, 146);
    border-bottom:10px solid #f58d23;
    text-align: center;
    margin:20px;
    border-radius: 5px;
    box-shadow: 2px 2px gainsboro;
    padding-bottom:30px;
}
.web p{
    font-size:18px;
    margin:35px 0px;
}
.web ul li{
    line-height: 1.5em;
    text-align: left;
    list-style-type: disc; 
    padding-left:30px;
    list-style-position: inside;
    font-size:14px;
}
.web-java{
    border-bottom:10px solid #539e43;
}
.web-dev{
    border-bottom:10px solid #6762a6;
   
}

.work{
    margin-top:40px;
}
.box{
    width: 260px;
    border:2px solid #fb56bf;
    border-radius: 10px;
    padding:10px;
    font-size:12px;
}
.box p, .box h3, .box h4{
    line-height: 1.2em;
    padding-bottom:10px;
}
.Date{
    font-weight: bolder;
    color:#5c5c5c;
}
.box h3{
    font-weight: bolder;
    color:#821837;
}   
.box p{
    color:#bdbdbd;
}
.line{
   
    width: 2px;
    height: 570px;
    background-color: #D8D8D8;
    margin: 0 auto;
    position: relative;
}
.gray{
    position:absolute;
    top:-30px;
    left:-15px;
}
.pink1{
    position:absolute;
    top:30px;
    left:-10px;
}
.pink2{
    position:absolute;
    top:180px;
    left:-10px;
}
.pink3{
    position:absolute;
    top:360px;
    left:-10px;
}

.box-top{
    position:absolute;
    left:20px;
    top:50px;
}
.box-middle{
    position:absolute;
    left:-280px;
    top:220px;
}
.box-bottom{
    position:absolute;
    left:20px;
    top:390px;
}
.dash{
    width: 40px;
    height: 5px;
    background-color: #D8D8D8;
    position:absolute;
    bottom:0;
    left:-20px;
}
.product ul li{
    
}
.product ul{
    display:flex;
    justify-content: space-evenly;
}

.product-list{
    width: 284px;
    height: 150px;
}
.product-list-1{
    padding:35px 77px;
    background: #fdb4e3;
}

.product-list-2{
    padding:35px 100px;
    background: #424242;
}
.product-list-3{
    padding:35px 100px;
    background: #8ad7fa;
}
.product h3{
    
    font-weight: bolder;
    padding:10px 0px;
}
.product p{
    color:#b0b0b0;
    font-weight: bolder;
    padding:10px 0px;
}
.product-background{
    border-radius: 5px;
    background: rgba(240, 240, 240,0.3);
   
}
.product-background h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    padding: 9px 0px 7px 8px;
}
.product-background p{
    font-size: 14px;
    line-height: 19px;
    color: #4A4A4A;
    padding: 3px 0px 5px 8px;
}
.About img{
    width: 320px;
    height: 320px;
    padding: 0px 100px 0px 30px;
}
.About{
    display: flex;
    justify-content: center;
}
.About p{
    width: 450px;
    font-size:14px;
    line-height: 26px;
    color: #4A4A4A;
}
.footer {
    font-size:14px;
    text-align: center;
    line-height: 21px;
    font-weight: bold;
 
    padding: 35px 0px;
    background-repeat: none;
    margin-top:100px;
}